/bootstrap/compiled.php
/vendor
composer.phar
.env
.env.*
!.env.example
.DS_Store
Thumbs.db
.idea
node_modules
npm-debug.log
npm-debug.log*
yarn-error.log
.phpunit.result.cache
/bootstrap/cache/*.php
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
public/css
public/app/css
public/js
public/components
